<div class="container">
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Price</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody *ngIf="books.length > 0">
      <tr *ngFor="let book of books, let i=index">
        <th scope="row"> {{i+1}} </th>
        <td> {{book.title}} </td>
        <td> {{book.author}} </td>
        <td> {{book.price}} </td>
        <a routerLink="edit/{{book.id}}" class="btn btn-sm btn-info">Edit</a> <>
        <a (click)="rmv(i)" class="btn btn-sm btn-danger">Delete</a> <>
        <a routerLink="review/{{book.id}}" class="btn btn-sm btn-primary">Review</a> <>
        <a routerLink="details/{{book.id}}" class="btn btn-sm btn-warning">Details</a>
      </tr>
      
    </tbody>
  </table>
</div>

