<div class="container">
    <h1>Details of {{book.Title}}</h1>
    <div class="row">
        <div class="col-md-6 info">
          <div>Title: {{book.Title}}</div>
          <div>Author: {{book.author}}</div>
          <div>Price: {{book.price}}</div>
        </div>
        <div class="col-md-6">
            <legend>Reviews</legend>
            <div *ngFor="let i of book.txt, let j=index">
                <div class="form-group">
                    <label class="col-form-label">Review {{j+1}}</label>
                    <div class="form-control">
                        {{i}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>